* {
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 25px;
  background-color: bisque;
  border-bottom: 2px dotted crimson;
}

h1 {
  color: crimson;
  font-size: 1rem;
  margin-right: 25px;
}

h2 {
  color: crimson;
  font-size: 1rem;
  text-decoration: underline;
  margin: 0 0 10px 0;
}

button {
  background: none;
  border: none;
  color: crimson;
  font-size: 1rem;
  margin-left: 25px;
  cursor: pointer;
}

button:hover {
  text-decoration: underline;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.cutup-container {
  margin-top: 75px;
  width: 100vw;
  padding: 0 25px 25px 25px;
}

.cutup-box {
  width: 100%;
  min-height: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  color: crimson;
  border-bottom: 2px dotted crimson;
}
